@font-face { font-family: Courier; font-weight: bold; src: url('fonts/cour.ttf'); }

*{
  margin: 0;
  padding: 0;

}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #333333;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #333333;
}

.header li a {
  text-align: center;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #C0830E;
}

.header .logo {
  display: block;
  float: left;
    height:100px;
    width:100px;
  
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.button{
  display: none;
}
.titlu>h1{
  margin-top: 30px;
  font-size: 30px;
  font-family: Courier;
  text-align: center;
  font-weight: bolder;
}
.linie{
  margin-top: 5px;
  border-top: 2px solid black;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section{
  margin:20px;
  display: flex;
}
section>.servici{
  margin-top: 20px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
section>.servici>p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
section>.preturi{
  margin-top: 20px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
section>.preturi>p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
aside{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
}
.last{
  margin-top: 20px;
   width: 100%;
  background-image: url("img/tools.jpg"); 
/*  opacity: 79%;
*/  background-position: center ; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 600px;
}
.promo{
  overflow: hidden;
}
.promo>p{
  margin-top:50px;
  font-family: Courier;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 35px;
}
.last>.pachete>.flex{
  margin: 30px;
  background-color:rgba(127, 127, 127, 0.4);
  border-radius: 5px;
  border: 3px solid #CC8D13;
  color:white;
  height: 120px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
.last>.pachete>.flex>h3{
  margin-top: 10px;
  color:white;
  font-size: 30px;
}
.flex>button{
  margin-top: 20px;
  background-color: #C0830E;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  display: block;
   margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 20px;
  margin-top:5px;
  cursor: pointer;
}
.flex>button>a{
  text-decoration: none;
  color: white;
}
footer{
  overflow: hidden;
  height: 90px;
  background-color: #333333;
}
.uno{
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
}
img{
  height:40px;
  width: 40px;
}
.media{
  text-align: center;
}
.tres{
    font-size: 10px;
  text-align: center;
}
.tres >p{
  color: white;
}


@media (min-width: 48em) and (max-width: 64em){
  .forgot{
    display: none;
  }
  
  .header{
    position: relative;
    height: 100px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    margin-top:20px;
   /* margin-right: 400px;*/
    clear: none;
    position: absolute;
    right: 150px;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .button {
  position: absolute;
  right: 7px;
  background-color: #C0830E;
  border-radius: 26px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right:0px;
  margin-top:24px;
  cursor: pointer;
}
.titlu>h1{
  margin-top: 30px;
  font-size: 38px;
}
.linie{
  width: 60%;
}
section{
  margin:30px;
  display: flex;
}
section>.servici{
  width: 50%;
}
section>.preturi{
  width: 50%;
}
aside{
  font-size: 25px;
}
.last{
  height: 400px;
}
.promo>p{
  font-size: 40px;
}
.pachete{
  display: flex;
}
.last>.pachete>.flex{
  margin: 20px;
  height: 200px;
}
.flex>button{
  margin-top: 50px;
}
footer{
  overflow: hidden;
  height: 120px;
  background-color: #333333;
}
.uno{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: white;
}
img{
  height:50px;
  width: 50px;
}
.media{
  text-align: center;
}
.tres{
    font-size: 15px;
  text-align: center;
}
.tres >p{
  color: white;
}
}


@media (min-width: 1025px)
{
  .forgot{
    display: none;
  }
  .header .logo {
    display: block;
    float: left;
      height:120px;
      width:130px;
    }
  .header{
      position: relative;
      height: 100px;
    }
    .header li {
      float: left;
    }
  .header li a {
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    padding: 20px 20px;
  }
  .header .menu {
    margin-top:20px;
   /* margin-right: 400px;*/
    clear: none;
    position: absolute;
    right: 350px;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .button {
  position: absolute;
  right: 100px;
  background-color: #C0830E;
  border-radius: 26px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right:0px;
  margin-top:24px;
  cursor: pointer;
}
.titlu>h1{
    font-size: 41px;
  }
  .linie{
    width: 45%;
  }
  section{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}
section>.servici{
  width: 40%;
}
section>.preturi{
  width: 60%;
}
aside{
  font-size: 30px;
  width: 80%;
}
.last{
  height: 400px;
}
.promo>p{
  font-size: 45px;
}
.pachete{
  display: flex;
}
.last>.pachete>.flex{
  margin: 50px;
  height: 200px;
}
.last>.pachete>.flex>h3{
  margin-top: 20px;
  font-size: 40px;
}
.flex>button{
  margin-top: 50px;
}
footer{
    height: 120px;
  }
  .uno{
    font-size: 20px;
  }
img{
  height: 60px;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  }
  .tres{
    font-size: 15px;
  }
}